.Message {
  line-height: 1.5em;
  color: #ccc;
}

.Message.log {
  color: #bd6485;
}

.Message .author {
  font-weight: bold;
  color: #ff7159;
  margin: 0 5px 0 0;
}

.Message.me .author {
  color: #6559ae;
}
